%meta(charset="UTF-8")
- if @restaurants.any?
  - @restaurants.each do | restaurant |
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    = star_rating(restaurant.average_rating)
    %h3 Average rating: #{restaurant.average_rating.to_i}
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    - unless current_user && current_user.has_reviewed?(restaurant)
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    - if current_user && current_user.has_reviewed?(restaurant)
      = link_to "Delete Review", restaurant_review_path(restaurant, current_user), method: :delete
    - if restaurant.reviews.any?
      %ul
        - restaurant.reviews.each do |review|
          %li
            = review.thoughts
            %strong= review.rating
            \/5
    - else
      %p No reviews

- else
  %h1 No restaurants yet!

%a(href='/restaurants/new') Add a restaurant
